<ion-content class="login-content" padding>
  <ion-card style="margin-top:20%">
    <ion-card-header>
      <div text-center>
        <ion-card-title>Login Form</ion-card-title>
      </div>
    </ion-card-header>

    <ion-card-content>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Password"></ion-input>
          </ion-item>
        </div>

        <div padding>
          <ion-button size="large" style="width:100%" expand="block" (click)="login()">Login</ion-button>
        </div>
        <div padding>
          <ion-button size="large" style="width:100%" expand="block" (click)="registration()">Registration</ion-button>
        </div>

      </ion-col>
    </ion-card-content>
  </ion-card>
</ion-content>